apiVersion: v1
kind: ConfigMap
metadata:
  name: welcome-nginx-cm
  namespace: default
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head><title>Welcome</title></head>
    <body><h1>hello word ! 666</h1></body>
    </html>
